RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:CF-Visitor} !{"scheme":"https"}
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# RewriteCond %{REQUEST_FIELNAME} !-d
# RewriteCond ${REQUEST_FILENAME} !-f 
# RewriteRule ^(.*)\.html$ /$1 [L,R=301]