:root {
    --dark-body: #4d4c5a;
    --dark-main: #141529;
    --dark-second: #79788c;
    --dark-hover: #323048;
    --dark-text: #f8fbff;

    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --green: #009879;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    --font-family: cursive;
}

.calendar-box {
    display: flex;
    justify-content: center;
}

.calendar-container {
    --bg-body: var(--light-body);
    --bg-main: var(--light-main);
    --bg-second: var(--light-second);
    --color-hover: var(--light-hover);
    --color-txt: var(--light-text);
}

.calendar-container {
    font-family: var(--font-family);
    padding-bottom: 30px;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    background-color: var(--second-primary-color);
}

.calendar {
    width: 100%;
    background-color: var(--second-primary-color);
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    /* transform: scale(1.25); */
}


.calendar-title {
    background-color: var(--green);
    height: 100px;
}

.calendar-title .title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 250%;
    color: white;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    color: var(--text-color);
    padding: 10px;
}

.calendar-body {
    padding: 10px;
}

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-txt);
}

.calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    border-radius: 50%;
    color: var(--text-color-light);
}

.calendar-days div:hover {
    background-color: var(--third-primary-color);
    transition: ease-in-out 0.1s;
}


.calendar-days div.curr-date {
    background-color: var(--green);
    color: var(--white);
    border-radius: 50%;
    transition: ease-in-out 0.1s;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.month-picker:hover {
    background-color: var(--third-primary-color);
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--third-primary-color);
}


.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--second-primary-color);
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    transition: ease-in-out 0.2s;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--text-color);
    font-weight: bold;
}

.month-list > div > div:hover {
    background-color: var(--third-primary-color);
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media only screen and (max-width: 46.1875em) {

    .more-info-data {
        width: 100%;
    }

    .calendar-box {
        display: block;
        padding: 10px;
    }

    .calendar-container {
        margin-top: 50px;
    }

    .calendar-days {
        gap: 8px;
    }

    .calendar-days .calendar-day-hover {
        width: auto;
        height: 45px;
        padding: 5px 0;
    }

    .main-page .detail .desc, .fanpage .detail .desc {
        font-size: 60%;
    }
}

@media only screen and (max-width: 64em) and (min-width: 46.25em){
    .calendar-container {
        width: 85%;
    }

    .calendar-days .calendar-day-hover {
        width: auto;
        height: 70px;
    }
}