a {
    color: var(--link-text);
}

.navbar-select:nth-child(1) {
    border-bottom: 2px solid #009879;
}

.navbar-select:nth-child(1) > a {
    color: #009879;
}

.main-title {
    margin-top: 130px;
    text-align: center;
    font-weight: 500;
    padding: 0 10px;
}

.subtitle {
    text-align: center;
    padding: 20px 15% 50px;
    color: var(--text-color-light);
    opacity: 0.7;
    font-style: italic;
}

.input-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

/* .form-control, .dropdown-container {
    width: 60%;
} */

.form-control {
    width: 50%;
}

.form-control, .dropdown-select, .school-type-select {
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 10px;
	padding: 8px;
    height: 50px;
    background-color: var(--fourth-primary-color);
    box-shadow: var(--box-shadow-light);
    padding-left: 25px;
}


/* .form-control:hover, .dropdown-select:hover, .school-type-select:hover {
    box-shadow: var(--hover-color);
    transition: ease-in-out 0.2s;
} */


.year-chosen, .type-chosen {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

#search-result {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}  

.dropdown {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 25%;
}

.dropdown-container, .school-type-container {
    cursor: pointer;
    margin-bottom: 15px;
}


.dropdown-select, .school-type-select {
    height: 40px;
    border-radius: 10px;
    line-height: 1.8;
    position: relative;

}

/* .dropdown:hover .dropdown-list {
    opacity: 1;
} */

.dropdown-select i, .school-type-select i {
    position: absolute;
    right: 8px;
}

.dropdown-list, .school-type-list {
    position: relative;
    background-color: var(--fourth-primary-color);
    box-shadow: var(--box-shadow);
    margin-top: 8px;
    border-radius: 10px;
    transition: opacity 0.2s linear;
    overflow: hidden;
    height: 0px;
    transition: all ease 0.2s;
}

.dropdown-list .year, .school-type-list .type {
    padding: 5px;
    padding-left: 25px;
}

.dropdown-list .year:hover, .school-type-list .type:hover {
    background-color: var(--second-primary-color);
}

.dropdown-list.active, .school-type-list.active {
    height: 110px;
    overflow-y: scroll;
}

.dropdown-list::-webkit-scrollbar, .school-type-list::-webkit-scrollbar {
    background-color: var(--primary-color);
    width: 8px;
    border-radius: 8px;
}

.dropdown-list::-webkit-scrollbar-thumb, .school-type-list::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color);
    border-radius: 8px;
}


/* .dropdown-list.active + .dropdown-select fi.fi-rr-caret-down::before {
    transform: rotate(180deg);
} */

@media only screen and (max-width: 46.1875em) {
    .form-control{
        width: 70%;
    }

    .dropdown {
        padding: 0 15%;
    }
    
}

