@import url('https://fonts.googleapis.com/css2?family=Lato&family=MuseoModerno:wght@200;300;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'MuseoModerno', cursive;
    font-weight: 300;
}


html {
    animation: transitionIn 1.5s;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color);
    border-radius: 20px;
    border: 6px solid transparent;
}

::placeholder {
    color: var(--placeholder-color);
}


.filter-box {
    display: flex;
    justify-content: center;
}

.filter-basic-container, .filter-advanced-container {
    border: none;
    outline: none;
    border-radius: 30px;
	padding: 15px;
    width: 100%;
    background-color: var(--second-primary-color);
    box-shadow: var(--box-shadow);
    display: none;
    opacity: 0;
    transition: ease-in-out 0.3s;
}

.filter-advanced-container {
    margin-bottom: 50px
}

.filter-basic-container.active {
    display: block;
    opacity: 1;
    transition: ease-in-out 0.3s;
}

.filter-advanced-container.active {
    display: block;
    opacity: 1;
    transition: ease-in-out 0.3s;
}

.filter-basic-header, .filter-advanced-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 30px;
	padding: 15px 20px;
    margin: 20px 0;
    width: 100%;
    background-color: var(--second-primary-color);
    box-shadow: var(--box-shadow)
}

.filter-basic-header:hover, .filter-advanced-header:hover {
    box-shadow: var(--hover-color);
    transition: ease-in-out 0.2s;
}

.filter-basic-header .title, .filter-advanced-header .title {
    font-size: 120%;
    font-weight: bold;
}

.filter-basic-header i, .filter-advanced-header i {
    border-radius: 50%;
    font-size: 140%;
    text-align: center;
}


.filter-container {
    margin-top: 120px;
    display: block;
    width: 75%;
}


.filter-score {
    position: relative;
    overflow: hidden;
    padding: 20px 10px;
}

.filter-score-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.filter-detail-container {
    overflow: hidden;
}

.filter-score h3, .filter-detail-container h3 {
    font-weight: bold;
}

.primary-box {
    border: none;
    outline: none;
    border-radius: 10px;
	padding: 8px;
    height: 35px;
    width: 140px;
    background-color: var(--fourth-primary-color);
    box-shadow: var(--box-shadow);
    margin-right: 10px;
    padding-left: 15px;
    color: var(--text-color);
}

/* .score-maths, .score-literature, .score-english, .score-average, .filter-year-select, .filter-year-list,
.filter-district-select, .filter-district-list, .filter-wish-select, .filter-wish-list,
.filter-year-advanced-select, .filter-year-advanced-list, .filter-wish-advanced-select, .filter-wish-advanced-list {
    border: none;
    outline: none;
    border-radius: 10px;
	padding: 8px;
    height: 35px;
    width: 140px;
    background-color: var(--fourth-primary-color);
    box-shadow: var(--box-shadow);
    margin-right: 10px;
    padding-left: 15px;
    color: var(--text-color);
} */

.score-cal {
    border: none;
    outline: none;
    border-radius: 10px;
	padding: 8px;
    height: 35px;
    width: 140px;
    box-shadow: var(--box-shadow);
    margin-right: 10px;
    padding-left: 15px;
    background-color: var(--green);
    text-align: center;
    font-weight: bold;
    color:white;
}


.score-cal:hover {
    background-color: var(--darker-green);
    transition: ease-in;
    cursor: pointer;
}



.filter-score-container input[class=score-average]:hover {
    cursor: not-allowed;
}

.filter-score-container input[class=score-average]::placeholder {
    color: var(--darker-green);
}

.primary-margin {
    margin-top: 40px;
    padding: 20px 10px;
    float: left;
}

.select-margin {
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
    line-height: 1.8;
    position: relative;
    margin-right: 40px;
}

.select-hover:hover {
    box-shadow: var(--hover-color);
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.arrow-pos {
    position: absolute;
    right: 8px;
}

.primary-list {
    position: relative;
    background-color: var(--fourth-primary-color);
    box-shadow: var(--box-shadow);
    margin-top: 8px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.2s linear;
    overflow: hidden;
    height: 140px;
    pointer-events: none;
}


.filter-year-advanced, .filter-wish-advanced {
    margin-top: 0px;
    padding: 0;
}


.filter-year-advanced-select, .filter-year-advanced-list, .filter-wish-advanced-select, .filter-wish-advanced-list {
    margin-right: 10px;
}

.filter-year-advanced-select, .filter-wish-advanced-select {
    margin-top: 0px;
}


.filter-district-select, .filter-district-list {
    width: 180px;
}

.filter-wish-select, .filter-wish-list,
.filter-wish-advanced-select, .filter-wish-advanced-list {
    width: 200px;
}


.filter-year-list .year, .filter-district-list .district, .filter-wish-list .wish,
.filter-year-advanced-list .year, .filter-wish-advanced-list .wish{
    padding: 5px;
    padding-left: 20px;
}

.filter-year-list .year:hover, .filter-district-list .district:hover, .filter-wish-list .wish:hover,
.filter-year-advanced-list .year:hover, .filter-wish-advanced-list .wish:hover {
    background-color: var(--third-primary-color);
    background-clip: border-box;
}

.filter-year-list.active, .filter-district-list.active, .filter-wish-list.active,
.filter-year-advanced-list.active, .filter-wish-advanced-list.active {
    opacity: 1;
    overflow-y: scroll;
    cursor: pointer;
    pointer-events: auto;
}

.filter-year-list::-webkit-scrollbar, .filter-district-list::-webkit-scrollbar, .filter-wish-list::-webkit-scrollbar,
.filter-year-advanced-list::-webkit-scrollbar, .filter-wish-advanced-list::-webkit-scrollbar {
    background-color: var(--fourth-primary-color);
    width: 8px;
    border-radius: 8px;
}

.filter-year-list::-webkit-scrollbar-thumb, .filter-district-list::-webkit-scrollbar-thumb, .filter-wish-list::-webkit-scrollbar-thumb,
.filter-year-advanced-list::-webkit-scrollbar-thumb, .filter-wish-advanced-list::-webkit-scrollbar-thumb {
    background-color:var(--thumb-color);
    border-radius: 8px;
}

.filter-between-box, .filter-more-box {
    margin-top: 90px;
    position: relative;
    top: -120px;
}


.filter-between, .filer-top {
    overflow: hidden;
    padding: 10px;
}

.filter-between h3, .filter-tool-box h3, .filter-top h3, .right-box h3 {
    margin: 30px 0;
    padding-left: 10px;
    font-weight: bold;
}

.left-box, .right-box {
    display: flex;
    flex-direction: column;
}

.advanced-input {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 8px;
    height: 40px;
    width: 180px;
    background-color: var(--fourth-primary-color);
    box-shadow: var(--box-shadow-light);
    margin-right: 10px;
    padding-left: 15px;
    float: left;
    color: var(--text-color);
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    transition: all ease 0.2s;
}


.filter-between .between-search {
    background-color: var(--green);
    color:white;
    text-align: center;
    font-weight: bold;
}

.filter-between .between-search:hover {
    background-color: var(--darker-green);
    transition: ease-in;
    cursor: pointer;
}


.filter-above-average .above.active, .filter-below-average .below.active {
    background-color: var(--green);
    color: white;
}

.submit-btn {
    display: flex;
    justify-content: center;
}

.submit-btn.inactive {
    display: none;
}

#submit {
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 8px;
    height: 50px;
    width: 180px;
    box-shadow: var(--box-shadow-light);
    padding-left: 15px;
    background-color: var(--green);
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 110%;
    line-height: 35px;
    margin-bottom: 50px;
}

#submit:hover {
    background-color: var(--green);
    transition: ease-in-out 0.2s;
    box-shadow: var(--hover-color);
    cursor: pointer;

}

#search-result {
    display: flex;
    justify-content: center;
}


@keyframes transitionIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media only screen and (max-width: 46.1875em) {

    .filter-detail-container {
        height: 36.5em;
    }

    .score-maths, .score-literature, .score-english, .score-average, 
    .filter-year-advanced-select, .filter-year-advanced-list, .filter-wish-advanced-select, .filter-wish-advanced-list {
        width: 100%;
        margin: 10px 0;
        text-align: center;
        padding: 0 5px;
    }

    .score-cal {
        margin-top: 20px;
        width: 100%;
    }

    .filter-year, .filter-district{
        width: 100%;
    }

    .filter-district {
        position: relative;
        top: -40px;
    }

    .filter-wish {
        position: relative;
        top: -90px;
        width: 100%;
    }

    .filter-year-select, .filter-year-list, 
    .filter-district-select, .filter-district-list,
    .filter-wish-select, .filter-wish-list {
        width: 100%;
        margin-right: 0;
    }

    .filter-year-list, .filter-district-list, .filter-year-advanced-list, .filter-wish-advanced-list {
        opacity: 1;
        display: none;
    }

    .filter-year-list.active, .filter-district-list.active, .filter-year-advanced-list.active, .filter-wish-advanced-list.active {
        display: block;
    }

    .filter-tool-box {
        flex-direction: column;
    }

    .filter-year-advanced-select, .filter-wish-advanced-select {
        padding: 8px;
    }

    .filter-between-box {
        top: 0;
    }

    .filter-between h3, .filter-tool-box h3, .filter-top h3 {
        padding-left: 0;
    }

    .filter-between .start, .filter-between .end, .filter-between .between-search {
        width: 100%;
        margin: 10px 0 !important;
        text-align: center;
    }

    .filter-more-box {
        flex-direction: column;
        top: 0;
        margin-bottom: 20px;
    }

    .filter-top, .filter-above-average, .filter-below-average, .filter-top-pos {
        padding: 10px;
    }

    .filter-top .top, .filter-above-average .above, .filter-below-average .below, .filter-top-pos .position {
        margin: 0!important;
        width: 100%;
        text-align: center;
    }

    .filter-above-average, .filter-below-average {
        margin-top: 10px;
    }



    

}

@media only screen and (max-width: 64em) and (min-width: 46.25em) {
    .score-cal {
        margin-top: 15px;
    }

    .filter-year, .filter-district, .filter-wish {
        margin-top: 0;
        width: 50%;
        float: left;
    }

    .filter-year-select, .filter-year-list, 
    .filter-district-select, .filter-district-list, 
    .filter-wish-select, .filter-wish-list {
        margin-right: 10px;
    }
}