@import url('https://fonts.googleapis.com/css2?family=Lato&family=MuseoModerno:wght@200;300;500&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'MuseoModerno', cursive;
    font-weight: 300;
    -webkit-print-color-adjust:exact;
}

@media print {
    body * {
        visibility: hidden;
    }
    
    .year-chosen, #search-result, #search-result *{
        visibility: visible;
        box-shadow: none;
    }

    #search-result .search-table {
        width: 100%;
    }

    #search-result .search-table tbody td {
        background-color: inherit !important;
    }

    #search-result .search-table tbody tr:hover {
        transform : none;
        background-color: inherit;
        font-size: 100%;
        font-weight: normal;
    }

    #search-result, .year-chosen {
        position: absolute;
        top:100px;
        right:0;
        left:0;
    }

    .year-chosen {
        top: 0;
    }

    @page {
        size: A4 portrait;
        margin-top: 20mm;
        margin-bottom: 20mm;
        margin-left: 30mm;
        margin-right: 15mm;
    }
}




