:root {
    --primary-color: #ffffff;
    --second-primary-color: #ffffff;
    --third-primary-color: #f3f3f3;;
    --fourth-primary-color: #ffffff;

    --switcher-color: #E5E5E5;
    --header-color: #ffffff;
    --hover-color: 0 0 12px rgba(0, 152, 121, 0.25);
    --thumb-color: rgba(179, 179, 179, 0.7);
    --box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    --box-shadow-light: 0 0 12px rgb(0 0 0 / 7%);
    --text-color: #000000;
    --text-color-light: #252526;
    --placeholder-color: rgba(0, 0, 0, 0.35);

    --table-odd-color: #ffffff;
    --table-even-color: #f3f3f3;

    --row-hover-color: #FFF9C2;

    --green: #009879;
    --orange: #df7b00;
    --darker-green: #00856a;
}

.dark-mode {
    --primary-color: #1e1e1e;
    --second-primary-color:	#252526;
    --third-primary-color: #2d2d30;
    --fourth-primary-color: #3e3e42;

    --header-color: #262626;
    --switcher-color: #2d2d30;
    --switcher-color: #2d2d30;
    --hover-color: none;
    --thumb-color: rgba(75, 75, 75, 0.7);
    --box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    --box-shadow-light: 0 0 12px rgb(0 0 0 / 21%);
    --text-color: #ffffff;
    --text-color-light: #afafaf;
    --placeholder-color: rgba(255, 255, 255, 0.35);
    
    color: white !important;

    --table-odd-color: #1e1e1e;
    --table-even-color: #252526;

    --row-hover-color: #efe9a8;
}