@import url('../../../expand/css/root.css');

.search-table {
    box-shadow: var(--box-shadow);
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 100px;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-timing-function: ease-in;
    animation-duration: 0.15s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.search-table thead {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 152, 121, 0.3);
}

.search-table thead th {
    font-weight: 500;
}

.search-table thead tr th:nth-of-type(3),
.search-table thead tr th:nth-of-type(4),
.search-table thead tr th:nth-of-type(5),
.search-table thead tr th:nth-of-type(6) {
    text-align: center;
}

.search-table th, .search-table td {
    padding: 12px 15px;
    border: none;
}

.search-table tr {
    cursor: pointer;
}

.search-table tbody tr:nth-of-type(even) {
    background-color: var(--table-even-color);
    outline: none;
}

.search-table tbody tr td:first-of-type {
    color: #009879;
    font-weight: bold;
    text-align: center;
}

.search-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.search-table tbody tr td:nth-of-type(3),
.search-table tbody tr td:nth-of-type(4),
.search-table tbody tr td:nth-of-type(5),
.search-table tbody tr td:nth-of-type(6) {
    text-align: center;
}

.search-table tbody tr:hover {
    transform: scale(1.02);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: var(--row-hover-color);
    color: #000000;
    font-size: 110%;
    font-weight: bold;
    transition: ease-in-out 0.15s;
}


@media only screen and (max-width: 46.1875em) {
    /* Tables */
    .search-table th, .search-table td {
        padding: 12px 5px;
    }

    
}