.hide-fade {
    opacity: 0;
    transition: all ease 1s;
}

.fade {
    opacity: 1;
}

.hide-moveUp {
    opacity: 0;
    transform: translateY(100px);
    transition: all ease 1s;
}

.moveUp {
    opacity: 1;
    transform: translateY(0px);
}

.hide-percent {
    transform: scaleX(0);
    transform-origin: left;
    animation: percent 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes percent {
    100% {
        transform: scaleX(1);
        color: white;
    }
}
