@import url('https://fonts.googleapis.com/css2?family=Lato&family=MuseoModerno:wght@200;300;500&family=Open+Sans:wght@600&display=swap');

:root {
    --fs-title: 4em;
    --fs-subtitle: 1.5em;
    --fs-icon: 2em;
    --fs-btn: 1.4em;
    --fs-desc: 1.2em; 
    --fs-desc2: 1.1em;
    --fs-content: 1em;
}

@media only screen and (max-width: 46.25em) {
    :root {
        --fs-title: calc(4em*0.95);
        --fs-subtitle: calc(1.5em*0.95);
        --fs-icon: calc(2em*0.95);
        --fs-btn: calc(1.4em*0.95);
        --fs-desc: calc(1.2em*0.95); 
        --fs-desc2: calc(1.1em*0.95);
        --fs-content: calc(1em*0.95);
    }
}



b {
    font-weight: 500;
}

ul * {
    text-align: left;
}


#title-container, #section1-container, #section2-container, #section3-container,
#section4-container, #section5-container {
    display: flex;
    justify-content: center;
    margin-top: 400px;
    overflow: hidden;
}


.shapedivider1{
    overflow:hidden;
    position:relative;
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

.shapedivider1::before{ 
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 78px;
    background-position: 50% 100%;  
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M35.28 1.67c-3.07-.55-9.27.41-16.15 0-6.87-.4-13.74-.58-19.13.1v.4h35.28z" fill="%23ffffff"/><path d="M35.28 1.16c-3.17-.8-7.3.4-10.04.56-2.76.17-9.25-1.47-12.68-1.3-3.42.16-4.64.84-7.04.86C3.12 1.31 0 .4 0 .4v1.77h35.28z" opacity=".5" fill="%23ffffff"/><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" opacity=".5" fill="%23ffffff"/></svg>'); 
    filter: var(--divider-color);
}

.custom-shape-divider-bottom {
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    transform: scaleY(-1);
}

.custom-shape-divider-bottom svg {
    position: relative;
    top: 1%;
    display: block;
    width: 100%;
    height: 100px;
}

.custom-shape-divider-bottom .shape-fill {
    fill: var(--third-primary-color);
}

#section1-container, #section3-container {
    background-color: #ffffff;
    opacity: 1;
    background-image:  radial-gradient(var(--third-primary-color) 2px, transparent 2px), radial-gradient(var(--third-primary-color) 2px, var(--primary-color) 2px);
    background-size: 80px 80px;
    background-position: 0 0,40px 40px;
    background-clip: padding-box;
    padding: 80px 0;
}


#title-container {
    flex-wrap: wrap;
    margin-top: 0;
    padding-top: 350px;
    background-image: linear-gradient(to bottom, #00d3a8, #00d1c0, #00ced3, #00cae2, #08c5ec);
    background-clip: padding-box;
}

#section5-container {
    margin-top: 0;
    background-color: var(--third-primary-color);
    padding: 50px 0;
}
     
/*
#title-container img {
    position: absolute;
    top: -10%;
    max-width: 100%;
    height: auto;
    z-index: -5;
    filter: opacity(0.5);
} */

.title-box, .section1, .section2, .section3, .section4, .section5 {
    padding: 0 10px;
    overflow: hidden;
    width: 70%;
}

.title-box div, .section1 .title, .section2 div, .section3 .title,
.section4 .title, .section5 .title{
    text-align: center;
}

.title {
    font-size: var(--fs-title);
    font-weight: 500;
    margin: 30px 0 50px 0;
}

.title-box .desc, .section1 .desc, .section2 .content * {
    font-size: var(--fs-desc);
}


.title-box .start {
    margin: 50px 0;
}

.title-box .start button {
    border: none;
    padding: 10px 30px;
    background-color: #00d3a8;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 152, 121, 50%);
    cursor: pointer;
    transition: all ease 0.3s;
}

.title-box .start button a {
    color: white;
    font-size: var(--fs-btn);
    font-weight: 500;
    text-decoration: none;
}

.title-box .start button:hover {
    padding: 12px 70px;

}

.title-box * {
    color: white;
}

.section1 .desc {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section1 .desc .part {
    font-size: var(--fs-desc2);
    flex: 50%;
    padding: 20px 50px;
    line-height: 2;
}

/* .bg-text {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    z-index: -5;
    color: var(--text-color-light);
    opacity: 0.02;
    font-size: 20em;
    pointer-events: none;
    -webkit-text-stroke-width: 20px;
} */

.section2 .content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section2 .content .part {
    margin: 1%;
    background-color: var(--second-primary-color);
    padding: 40px 60px;
    box-shadow: var(--box-shadow-light);
    border-bottom: 4px solid transparent;
    border-radius: 20px;
    flex: 1;
    cursor: pointer;
    transform: translateY(0px);
    transition: all ease 0.3s;
}

.section2 .content .part:hover {
    transform: translateY(-20px);
}

.section2 .content .part:nth-child(1):hover {
    border-color: #00E5FF;
}

.section2 .content .part:nth-child(2):hover {
    border-color: #00E676;
}

.section2 .content .part:nth-child(3):hover {
    border-color: #1EE9B6;
}

.content .part span {
    line-height: 3;
}

.content .part i {
    font-size: var(--fs-icon);
}

.content .part p {
    font-size: var(--fs-content);
}

.section3 .content .card {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 15px;
}

.section3 .content .time {
    background-color: var(--second-primary-color);
    padding: 20px;
    width: 45%;
    border-radius: 10px;
    box-shadow: var(--box-shadow-light);
    cursor: pointer;
    transform: translateY(0px);
    transition: all ease 0.3s;
}

.section3 .content .time:hover {
    border-bottom-width: 30px;
    border-top-width: 30px;
}

.completed {
    border-bottom: 3px solid #00d3a8;
    border-top: 0px solid #00d3a8;
}

.inprogress {
    border-bottom: 3px solid #fffc3c;
    border-top: 0px solid #fffc3c;
}

.uncompleted {
    border-bottom: 3px solid #bebebe;
    border-top: 0px solid #bebebe;
}

.section3 .content b {
    font-size: var(--fs-desc);
    line-height: 3;
}


.section3 .content div:nth-child(odd) > .time {
    text-align: left;
    float: left;
}


.section3 .content div:nth-child(even) > .time {
    text-align: right;
    float: right;
}


.section3 .content .card:nth-child(odd):after, .section3 .content .card:nth-child(even)::after {
    content: '';
    position: absolute;
    right: 50%;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 5px;
    background: #00d3a8;
}

.section3 .content .card:nth-child(odd):before, .section3 .content .card:nth-child(even)::before {
    content: '';
    position: absolute;
    right: 50%;
    transform: translate(40%, 350%);
    height: 15px;
    width: 15px;
    background-color: white;
    border: 3px solid #00d3a8;
    border-radius: 50%;
    z-index: 1;
}

#section4-container {
    padding: 20px 0;
}

.section4 {
    padding-bottom: 20px;
}

.section4 .content {
    background-color: var(--second-primary-color);
    padding: 30px 70px;
    box-shadow: var(--box-shadow-light);
    border-radius: 20px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    overflow: hidden;
}

.section4 .content:hover {
    box-shadow: var(--hover-color);
}

.section4 .content .card {
    margin: 10px 0;
    transition: all ease-in-out 0.3s;
}

.section4 .content .card-title {
    font-size: var(--fs-desc2);
    font-weight: 500;
    line-height: 3;
}

.section4 .card .bar {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: var(--third-primary-color);
    border-radius: 10px;
}


.section4 .bar .percent {
    text-align: center;
    font-size: 90%;
    color: transparent;
    background-color: #00d3a8;
    background-clip: padding-box;
    border-radius: 10px;
    transition: width ease-in-out 0.5s;
}

.card-title i {
    font-size: var(--fs-desc);
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.section4 .find-more a{
    float: right;
    margin: 40px 0;
    color: cornflowerblue;
    font-size: var(--fs-desc2);
}

.section5 .content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.section5 .content .card {
    padding: 20px 50px;
    margin: 50px 0;
    flex: 50%;
}

.section5 .card-title{
    font-size: var(--fs-subtitle);
    font-weight: 500;
    padding-bottom: 25px;
}

.section5 .more {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.more-title {
    text-align: center;
    font-size: var(--fs-subtitle);
    font-weight: 500;
    margin-top: 80px;
    margin-bottom: 40px;
}

.more button {
    width: 20%;
    margin: auto;
    padding: 10px 20px;
    background-color: #00d3a8;
    box-shadow: 0 0 15px rgb(0 152 121 / 50%);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all ease 0.3s;
    margin-bottom: 20px;
}

.more button:hover {
    padding: 15px 30px;
}

.more button a {
    color: white;
    font-weight: 500;
    text-decoration: none;
}


@media only screen and (max-width:64em) {
    .section2 .content .part {
        margin: 4% 1%;
        flex: auto;
    }

    .more button {
        width: 40%;
    }

    .section1 .desc {
        flex-direction: column;
    }

    .section1 .desc .part {
        margin: 20px 0;
    }
}    

@media only screen and (max-width: 46.25em) {
    .more button {
        width: 60%;
    }

    .title-box, .section1, .section2, .section3, .section4, .section5 {
        width: 90%;
    }

    .section1 .desc {
        flex-direction: column;
    }

    .section1 .desc .part {
        padding: 20px;
    }

    .section3 .content .card:nth-child(odd):before, 
    .section3 .content .card:nth-child(even)::before,
    .section3 .content .card:nth-child(odd):after, 
    .section3 .content .card:nth-child(even)::after { 
        display: none;
    }

    .section3 .content .card {
        margin: 20px 0;
    }

    .section3 .content .time {
        width: 100%;
    }

    .section4 .content {
        padding: 30px 20px;
    }

    .section5 .content {
        flex-direction: column;
    }

    .section5 .content .card {
        padding: 20px;
    }
}
