@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #ffffff;
    --second-primary-color: #ffffff;
    --third-primary-color: #f3f3f3;
    --fourth-primary-color: #ffffff;
    --fifth-primary-color: #ffffff;

    --switcher-color: #E5E5E5;
    --header-color: #ffffff;
    --hover-color: 0 0 12px rgba(0, 152, 121, 0.25);
    --thumb-color: rgba(179, 179, 179, 0.7);
    --box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    --box-shadow-light: 0 0 12px rgb(0 0 0 / 7%);
    --box-shadow-lighter: 0 0 12px rgb(0 0 0 / 4%);
    --text-color: #000000;
    --text-color-light: #252526;
    --text-color-topic: black;
    --placeholder-color: rgba(0, 0, 0, 0.35);

    --table-odd-color: #ffffff;
    --table-even-color: #f3f3f3;

    --row-hover-color: #FFF9C2;

    --green: #009879;
    --orange: #df7b00;
    --hover-green: #0098790a;
    --darker-green: #00856a;
    --divider-color: invert(0);

    --link-text: #3399ff;

    --col-green-bg: #ebfffb;
    --col-green-txt: #00735d;
    --col-yellow-bg: #fffbeb;
    --col-yellow-txt: #736100;
    --col-blue-bg: #ebf6ff;
    --col-blue-txt: #005c73;
    --edit-bg: #005b9817;
    --edit-txt: #00406b;
    --delete-bg: #98000017;
    --delete-txt:#6b0000;

}

.dark-mode {
    --primary-color: #1e1e1e;
    --second-primary-color:	#252526;
    --third-primary-color: #2d2d30;
    --fourth-primary-color: #3e3e42;
    --fifth-primary-color: #2e2e2f;

    --header-color: #262626;
    --switcher-color: #2d2d30;
    --switcher-color: #2d2d30;
    --hover-color: none;
    --thumb-color: rgba(75, 75, 75, 0.7);
    --box-shadow: 0 0 20px rgb(0 0 0 / 30%);
    --box-shadow-light: 0 0 12px rgb(0 0 0 / 21%);
    --box-shadow-lighter: 0 0 12px rgb(0 0 0 / 15%);
    --text-color: #ffffff;
    --text-color-light: #afafaf;
    --text-color-topic: white;
    --placeholder-color: rgba(255, 255, 255, 0.35);
    
    color: white !important;

    --table-odd-color: #1e1e1e;
    --table-even-color: #2e2e2e;

    --row-hover-color: #efe9a8;
    --divider-color: invert(0.88);

    --green: #55dcc0;

    --col-green-bg: rgb(6, 72, 62);
    --col-green-txt: rgb(106, 220, 198);
    --col-yellow-bg: rgb(56, 46, 6);
    --col-yellow-txt: rgb(220, 202, 106);
    --col-blue-bg: rgb(39, 39, 39);
    --col-blue-txt: rgb(106, 197, 220);
    --edit-bg: rgba(6, 67, 108, 0.09);
    --edit-txt: rgb(110, 175, 220);
    --delete-bg: rgba(108, 6, 6, 0.09);
    --delete-txt:rgb(220, 110, 110);

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;
    font-weight: 300;
}

@keyframes transitionIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}


html {
    scroll-behavior: smooth;
}


body {
    animation: transitionIn 1s;
    background-color: var(--primary-color);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color);
    border-radius: 20px;
}

::placeholder {
    color: var(--placeholder-color);
}

input[type=number]:hover::-webkit-inner-spin-button {  
   opacity: 1;
}

.primary-margin {
    margin-top: 40px;
    padding: 20px 10px;
    float: left;
}

.select-margin {
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
    line-height: 1.8;
    position: relative;
    margin-right: 40px;
}

.select-hover:hover {
    /* box-shadow: var(--hover-color); */
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.arrow-pos {
    position: absolute;
    right: 8px;
}


.primary-box {
    border: none;
    outline: none;
    border-radius: 10px;
	padding: 8px;
    height: 40px;
    /* width: auto; */
    background-color: var(--fourth-primary-color);
    box-shadow: var(--box-shadow-light);
    margin-right: 10px;
    padding-left: 15px;
    color: var(--text-color);
}

.primary-list {
    position: relative;
    background-color: var(--fourth-primary-color);
    box-shadow: var(--box-shadow);
    margin-top: 8px;
    border-radius: 10px;
    opacity: 0;
    transition: all ease 0.3s;
    overflow: hidden;
    height: 0px;
    pointer-events: none;
}

.filter-year-list .year, .filter-district-list .district, .filter-wish-list .wish,
.filter-year-advanced-list .year, .filter-wish-advanced-list .wish,
.filter-district-advanced-list .district{
    padding: 5px;
    padding-left: 20px;
}

.filter-year-list .year:hover, .filter-district-list .district:hover, .filter-wish-list .wish:hover,
.filter-year-advanced-list .year:hover, .filter-wish-advanced-list .wish:hover,
.filter-district-list .district:hover {
    background-color: var(--third-primary-color);
    background-clip: border-box;
}

.filter-year-list.active, .filter-district-list.active, .filter-wish-list.active,
.filter-year-advanced-list.active, .filter-wish-advanced-list.active,
.filter-district-advanced-list.active {
    opacity: 1;
    height: 140px;
    overflow-y: scroll;
    cursor: pointer;
    pointer-events: auto;
}

.filter-year-list::-webkit-scrollbar, .filter-district-list::-webkit-scrollbar, .filter-wish-list::-webkit-scrollbar,
.filter-year-advanced-list::-webkit-scrollbar, .filter-wish-advanced-list::-webkit-scrollbar,
.filter-district-advanced-list::-webkit-scrollbar {
    background-color: var(--fourth-primary-color);
    width: 8px;
    border-radius: 8px;
}

.filter-year-list::-webkit-scrollbar-thumb, .filter-district-list::-webkit-scrollbar-thumb, .filter-wish-list::-webkit-scrollbar-thumb,
.filter-year-advanced-list::-webkit-scrollbar-thumb, .filter-wish-advanced-list::-webkit-scrollbar-thumb,
.filter-district-advanced-list::-webkit-scrollbar-thumb{
    background-color:var(--thumb-color);
    border-radius: 8px;
}


.hide-btn {
    width: 5%;
    height: 30px;
    background-color: tomato;
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 2.2;
    transition: all ease 0.2s;
}

.hide-btn .open {
    display: none;
}

.hide-btn.active {
    background-color: var(--green);
    width: 10%;
}

.hide-btn.active .close {
    display: none;
}

.hide-btn.active .open {
    display: block;
}

.floating-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 3;
}

.floating-container input {
    pointer-events: none;
}

#floating-button {
    background-color: var(--green);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: var(--box-shadow);
    position: relative;
    left: 0%;
    z-index: 2;
    transition: background-color ease 0.4s;
    cursor: pointer;
}

#floating-button.active {
    left: 70%;
}

#floating-button i {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 130%;
    color: white;
    pointer-events: none;
}

#floating-box {
    overflow: hidden;
    background: var(--second-primary-color);
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 2;
    height: 0px;
    width: 0px;
    transition: all ease 0.4s;
}

#floating-box div {
    overflow: hidden;
    height: 0px;
    width: 0px;
    transition: all ease 0.4s;
}

#floating-box div * {
    cursor: pointer;
    user-select: none;
}

#floating-box.active {
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    height: auto;
    width: auto;
}

#floating-box.active div {
    margin: 10px 0;
    height: auto;
    width: auto;
}

#floating-box .print, #floating-box .exportxlsx {
    text-align: center;
    background-color: var(--green);
    color: white;
    font-weight: 500;
    margin-top: 20px !important;
    padding: 5px;
    border-radius: 15px;
    transition: all ease 0.2s;
}

#floating-box .print:hover, #floating-box .exportxlsx:hover, #floating-button:hover {
    filter: brightness(0.9);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.05);
    backdrop-filter: blur(1px);
    transition: all ease 0.2s;
    display: none;
}

.overlay.active {
    display: block;
}

.main.simplify h2 {
    color: var(--text-color) !important;
}

.main.simplify table *{
    background-color: transparent !important;
    color: var(--text-color) !important;
    box-shadow: none !important;
}

.main.simplify table tr, .main.simplify table th, .main.simplify table td {
    border: 1px solid var(--text-color) !important;
}

.main.simplify table thead th {
    font-weight: bold !important;
}

.title i {
    color: var(--green);
    margin: 0 20px;
    cursor: pointer;
    font-size: 120%;
    position: relative;
    top: 4px;
    padding: 10px;
}

#scroll-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #00d3a8;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 15px rgba(0, 211, 168, 50%);
    cursor: pointer;
    transition: all ease 0.2s;
    z-index: 3;
}

#scroll-button:hover {
    filter: brightness(96%);
}

#scroll-button i {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 130%;
    color: white;
    pointer-events: none;
}


@media only screen and (max-width: 46.1875em) {
    .hide-btn {
        width: 10%;
    }

    .hide-btn.active {
        width: 15%;
    }

    .overlay {
        backdrop-filter: blur(0px) brightness(0.9);
    }
}